<nav class="navbar navbar-expand-lg bg-danger-subtle">
    <div class="container">
      <a class="navbar-brand fs-3 text-secondary">{{user.name}} <img src="favicon.ico" width="50" height="50">
        {{user.lastname}}</a>
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-warning border-bottom">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column  flex-lg-row p-4 p-lg-0">
          <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3 fs-5">
            <li class="nav-item mx-2">
                <a class="nav-link" href="dHome"> Profile</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="dAppointments">Appointments</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link active px-3 py-1 bg-light rounded-4" aria-current="page" href="dOther">Other</a>
            </li>
           
          </ul>
          <div class="d-flex justify-content-center align-items-center gap-3 flex-column flex-lg-row">
            <a href="change" class="text-success">Change password</a>
            <a href="" class="text-white text-decoration-none px-3 py-1 bg-danger rounded-4">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container-md" style="margin-top: 200px;">
   <p class="text-center fs-2 text-danger fw-bold">Options</p>
    <div class="row bg-white justify-content-around " style="height: 70px;text-align: center;">
        <div class="col-sm align-items-center justify-content-center d-flex gap-3" style="border: rgb(195, 121, 216) solid;background-color: violet;">
            Price - <input type="number" [(ngModel)]="branchPrice"></div>
        <div class="col-sm align-items-center justify-content-center d-flex gap-3" style="border: rgb(195, 121, 216) solid;background-color: violet;">
            Name - <input type="text" [(ngModel)]="newBranch"></div>
        <div class="col-sm align-items-center justify-content-center d-flex gap-3" style="border: rgb(195, 121, 216) solid;background-color: violet;">
            Duration - <input type="number" [(ngModel)]="branchDuration"></div>
    </div>
    <div class="row text-center bg-white " style="height: 70px;">
        <div class="col-sm align-items-center justify-content-center d-flex gap-3" style="border: rgb(195, 121, 216) solid;background-color: plum;">
            Free day : <input type="date" [(ngModel)]="dayFree">
        </div>
        <div class="col-sm align-items-center justify-content-center d-flex gap-3 " style="border: rgb(195, 121, 216) solid;background-color: plum">
            Vacation start - end : <input type="date" [(ngModel)]="vacationStart"> <input type="date" [(ngModel)]="vacationEnd"></div>
    </div>
    <div class="row text-center" style="height: 70px;margin-top: 30px;">
        <div class="col-sm">
        <button type="button" class="btn btn-secondary" (click)="addFreeDay()">Add free day</button> 
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-secondary" (click)="addBranch()">Send branch request</button> 
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-secondary" (click)="addBreak()" >Add vacation</button> 
    </div>
    </div> 
</div>
<span style="color: crimson;" class="d-flex justify-content-center">{{error}}</span>


