@media(max-width : 991px){
    .sidebar{
        background-color: rgba(147, 92, 92,0.7);
        backdrop-filter: blur(10px);
    }
}

.container-comment{
    width: 16%;
    margin: auto;
    height: 100px;
}
.clickable {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
